### Investment Insights: Top 3 Industries for New Unicorns (2019â€“2021)

This SQL query shows a detailed analysis of new unicorn companies formed between 2019 and 2021. This report identifies and examines the three industries with the most significant growth, ranked by the number of emerging unicorn companies per industry, per year, during this period. The following sections will highlight the top-performing industries by year, offering key insights derived from the number of new unicorns and their average valuation. This retrospective analysis provides valuable context for understanding recent market trends and the factors driving high-value emerging companies.

**dates**:  

- company_id:	        A unique ID for the company.
- date_joined:	        The date that the company became a unicorn.
- year_founded:        The year that the company was founded.

**funding**:

- company_id:	         A unique ID for the company.
- valuation:	         Company value in US dollars.
- funding:	             The amount of funding raised in US dollars.
- select_investors:	 A list of key investors in the company.
	
**industries**:

- company_id:	         A unique ID for the company.
- industry:           	 The industry that the company operates in.
	
**companies**:

- company_id:	         A unique ID for the company.
- company:            	 The name of the company.
- city:	             The city where the company is headquartered.
- country:	             The country where the company is headquartered.
- continent:	         The continent where the company is headquartered.

In [3]:

--This CTE
WITH A as(SELECT i.industry, COUNT(i.industry) AS num_unicorns, 
EXTRACT(YEAR FROM d.date_joined::TIMESTAMP) AS year, ROUND(AVG(f.valuation/1000000000.0),2) AS average_valuation_billions  
FROM industries AS i
INNER JOIN dates AS d
ON d.company_id = i.company_id
INNER JOIN funding AS f
ON f.company_id = i.company_id
WHERE EXTRACT(YEAR FROM d.date_joined::TIMESTAMP) IN (2019, 2020, 2021)
GROUP BY i.industry, EXTRACT(YEAR FROM d.date_joined::TIMESTAMP)),


B AS (SELECT A.industry, ROW_NUMBER() OVER (PARTITION BY A.year ORDER BY A.num_unicorns DESC) as rn, A.year, A.num_unicorns, A.average_valuation_billions
	FROM A)
	

SELECT
   B.industry,
   B.year,
   B.num_unicorns,
   B.average_valuation_billions
FROM B
WHERE B.rn < 4
ORDER BY year DESC, num_unicorns DESC

                          industry  ...  average_valuation_billions
0                          Fintech  ...                        2.75
1     Internet software & services  ...                        2.15
2  E-commerce & direct-to-consumer  ...                        2.47
3     Internet software & services  ...                        4.35
4  E-commerce & direct-to-consumer  ...                        4.00
5                          Fintech  ...                        4.33
6                          Fintech  ...                        6.80
7          Artificial intelligence  ...                        4.50
8     Internet software & services  ...                        4.23

[9 rows x 4 columns]